/* Colouring of body background */
$dark-burgundy: #0d0003;
$off-dark-burgundy: #1a0006;
$middle-burgundy: #26000a;
$off-light-burgundy: #33000d;
$light-burgundy: #400010;

/* Colour of Car Cards */
$dark-blue: #071330;
$midnight-blue: #0C4160;
$blue-gray: #738FA7;
$misty-blue: #C3CEDA;

/* Shadows */
$dark-shadow: rgba(0, 0, 0, 0.8);
$middle-shadow: rgba(0, 0, 0, 0.5);
$light-shadow: rgba(0, 0, 0, 0.2);
