/* Import to make variables available */
@import '../abstract/variables';

/* Styling of the cards that display the car details on the view cars page */
.card {

  background-color: $misty-blue;
  border: 2px solid $dark-blue;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 3rem $dark-shadow,
  -1rem -1rem 3rem $light-burgundy;
  height: 45rem;
  margin: 1rem;
  width: 30rem;

  /* The images linked to */
  .card-image {
    background: linear-gradient(to bottom right, $dark-blue, $midnight-blue,
            $blue-gray, $misty-blue);
    border-top-right-radius: 1rem;
    height: 20rem;
    position: relative;

    /* Positioning of the images */
    img {
      height: auto;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }
}