/* Styling of the modify cars page which is basically a form */
.modify-cars-form-wrapper {

  .form-element {

    input {
      border: none;
      border-radius: 0.5rem;
      outline: none;
      padding: 0.5rem;
    }
  }
}